# 13% error on CIFAR-10 - layer parameter file 
# See methodology: http://code.google.com/p/cuda-convnet/wiki/Methodology

[conv1]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.00

[conv2]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.00

[local3]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[local4]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[fc10]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[logprob]
coeff=1
