# 18% error on CIFAR-10 in 20 minutes - layer definition file 

# Reduce all learning rates by factor of 10 after 120 epochs.
# Then another factor of 10 after 10 more epochs.

[conv1]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[conv2]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[conv3]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[fc10]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=1

[logprob]
coeff=1

[rnorm1]
scale=0.00005
pow=.75

[rnorm2]
scale=0.00005
pow=.75
