# 19% error on CIFAR-10 in 20 minutes - layer definition file 

[data]
type=data
dataIdx=0

[labels]
type=data
dataIdx=1

[conv1]
type=conv
inputs=data
channels=3
filters=32
padding=2
stride=1
filterSize=5
initW=0.0001
partialSum=1
sharedBiases=1

[pool1]
type=pool
pool=max
inputs=conv1
start=0
sizeX=3
stride=2
outputsX=0
channels=32
neuron=relu

[conv2]
type=conv
inputs=pool1
filters=32
padding=2
stride=1
filterSize=5
channels=32
neuron=relu
initW=0.01
partialSum=1
sharedBiases=1

[pool2]
type=pool
pool=avg
inputs=conv2
start=0
sizeX=3
stride=2
outputsX=0
channels=32

[conv3]
type=conv
inputs=pool2
filters=64
padding=2
stride=1
filterSize=5
channels=32
neuron=relu
initW=0.01
partialSum=1
sharedBiases=1

[pool3]
type=pool
pool=avg
inputs=conv3
start=0
sizeX=3
stride=2
outputsX=0
channels=64

[fc10]
type=fc
outputs=10
inputs=pool3
initW=0.01

[probs]
type=softmax
inputs=fc10

[logprob]
type=cost.logreg
inputs=labels,probs
