# 26% error on CIFAR-10 in 80 seconds - layer parameter file 
# You should reduce the learning rate after 8 epochs by a factor of 10.

[conv1]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[conv2]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[conv3]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[fc64]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=.03

[fc10]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=.03

[logprob]
coeff=1
