# 19% error on CIFAR-10 in 20 minutes - layer parameter file 
# Set wc to 0 for translations -- 14.2%

[conv1]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[conv2]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[conv3]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=0.004

[fc10]
epsW=0.001
epsB=0.002
momW=0.9
momB=0.9
wc=3

[logprob]
coeff=1
