# simple gradient check script includes:
# fc,fc,softmax-10
[data]
type=data
dataIdx=0

[labels]
type=data
dataIdx=1

[fc128]
type=fc
outputs=40
inputs=data
initW=0.3

[fc64]
type=fcdropc 
outputs=20
inputs=fc128
initW=0.3
rate=0.5

[fc10]
type=fc
outputs=10
inputs=fc64
initW=0.8

[probs]
type=softmax
inputs=fc10

[logprob]
type=cost.logreg
inputs=labels,probs
